# Objects, Dependancy, and Prebuilt Binary
*/*/*/*.o
*/*/*/*.d
*/*/*/unnamed_project
# module 00
*/*/*/megaphone
*/*/*/phonebook
*/*/*/account
# module 01
*/*/*/zombie
*/*/*/zombie_horde
*/*/*/string
*/*/*/unnecessary_violence
*/*/*/sifl
*/*/*/harl
*/*/*/harlFilter
# module 02
*/*/*/fixed
# module 03
*/*/*/claptrap
*/*/*/scavtrap
*/*/*/fragtrap
*/*/*/diamondtrap
# module 04
*/*/*/animals
*/*/*/idwtstwof
*/*/*/abstract_class
*/*/*/interface_recap
# module 05
*/*/*/bureaucrat
*/*/*/form_up
*/*/*/more_forms
# module 06
*/*/*/convert
# module 07

# module 08

# module 09

