# Objects, Dependancy, and Prebuilt Binary
*/*/*/*.o
*/*/*/*.d
*/*/*/unnamed_project
# module 00
*/*/*/megaphone
*/*/*/phonebook
*/*/*/account
# module 01
*/*/*/zombie
*/*/*/zombie_horde
*/*/*/string
*/*/*/unnecessary_violence
*/*/*/sifl
*/*/*/harl
*/*/*/harlFilter
# module 02
*/*/*/fixed
# module 03
*/*/*/claptrap
*/*/*/scavtrap
*/*/*/fragtrap
*/*/*/diamondtrap
# module 04
*/*/*/animals
*/*/*/idwtstwof
*/*/*/abstract_class
*/*/*/interface_recap
# module 05
*/*/*/bureaucrat
*/*/*/form_up
*/*/*/more_forms
*/*/*/Billy_shrubbery
# module 06
*/*/*/convert
*/*/*/serialization
*/*/*/real_type
# module 07
*/*/*/start
*/*/*/iter
*/*/*/array
# module 08
*/*/*/easy_find
*/*/*/span
*/*/*/mutated_abomination
# module 09
*/*/*/btc
*/*/*/data.csv
*/*/*/input.txt
*/*/*/RPN
*/*/*/PmergeMe
*/scratch/*
